<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
    <header>
        <div class="bg-dark collapse show" id="navbarHeader" style="">
        <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">Обо мне</h4>
            <p class="text-muted">Меня зовут Андрюша и я сдаю все вовремя. А еще у меня есть тёзка Великий князь Андрей Владиимирович - четвёртый сын великого князя Владимира Александровича и Марии Павловны, внук Александра II.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Контакты</h4>
            <ul class="list-unstyled">
                <li><a href="#" class="text-white">Подпишись на меня в запрещенной соцсети</a></li>
                <li><a href="#" class="text-white">Лайкни меня в другой запрещенной соцсети</a></li>
                <li><a href="#" class="text-white">Напиши мне на почту</a></li>
            </ul>
            </div>
        </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
        <a href="#" class="navbar-brand d-flex align-items-center">
        </a>
     </div>
    </div>
    </header>
    <main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Княжеский альбом</h1>
            <p class="lead text-muted">Вот фото моего крутого тёзки.</p>
        </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
            <div class="card shadow-sm">
                <img src="https://i.imgur.com/ySeyQmx.jpg" alt="imgur.com">

                <div class="card-body">
                <p class="card-text">Князь в кресле</p>
                <div class="d-flex justify-content-between align-items-center">

                </div>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card shadow-sm">
                <img src="https://i.imgur.com/rAWDA5C.jpg" alt="imgur.com">

                <div class="card-body">
                <p class="card-text">Купец из Европы угощает князя сахарной трубочкой</p>
                <div class="d-flex justify-content-between align-items-center">

                </div>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card shadow-sm">
                <img src="https://i.imgur.com/UQvFl1Y.jpg" alt="imgur.com">

                <div class="card-body">
                <p class="card-text">Князь в гостях у купца с Востока</p>
                <div class="d-flex justify-content-between align-items-center">

                </div>
                </div>
            </div>
            </div>

            <div class="col">
            <div class="card shadow-sm">
                 <img src="https://i.imgur.com/B0maJ57.jpg" alt="imgur.com">

                <div class="card-body">
                <p class="card-text">Князь на выезде в Угличи</p>
                <div class="d-flex justify-content-between align-items-center">

                </div>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card shadow-sm">
                <img src="https://i.imgur.com/bHHXYkE.jpg" alt="imgur.com">

                <div class="card-body">
                <p class="card-text">Важный князь</p>
                <div class="d-flex justify-content-between align-items-center">

                </div>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card shadow-sm">
                <img src="https://i.imgur.com/lPaYuIW.jpg" alt="imgur.com">

                <div class="card-body">
                <p class="card-text">Князь на прогулке</p>
                <div class="d-flex justify-content-between align-items-center">

                </div>
                </div>
            </div>
            </div>

            <div class="col">
            <div class="card shadow-sm">
                 <img src="https://i.imgur.com/gaYJzKC.jpg" alt="imgur.com">

                <div class="card-body">
                <p class="card-text">Современный портрет князя</p>
                <div class="d-flex justify-content-between align-items-center">

                </div>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card shadow-sm">
                <img src="https://i.imgur.com/1gG6uhb.jpg" alt="imgur.com">

                <div class="card-body">
                <p class="card-text">Очень важный князь</p>
                <div class="d-flex justify-content-between align-items-center">

                </div>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card shadow-sm">
                <img src="https://i.imgur.com/49zuEb3.jpg" alt="imgur.com">

                <div class="card-body">
                <p class="card-text">Князь в Царском Селе(с сахарной трубочкой)</p>
                <div class="d-flex justify-content-between align-items-center">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>